<mat-toolbar>
  <div class="container">
    <span>Rest'Haut</span>
  </div>
</mat-toolbar>

<div class="accueil">
 <div class="container mt-3">
  <div class="col-md-12 mx-auto">
    <div class="row ">
      <div class="col-sm-12 col-md-4 my-2 " *ngFor="let resto of dataResto;">
        <a [routerLink]="['/list/resto/', resto.id]" routerLinkActive="router-link-active"  rel="noopener noreferrer">
          <div class="card">
            <img [src]="urlimg+resto.image" class="card-img-top card-img-resto" alt="...">
            <div class="card-body">
              <h1 class="card-text"> {{resto.nomResto}} </h1>
              <h3 class="card-text"> {{resto.description}} </h3>
            </div>
          </div>
        </a>
       </div>
    </div>
  </div>
 </div>
</div>
