<div class="card container"  >
  <h2 class="mt-3" >Ajouter un resto</h2>
  <div style="overflow:auto; margin-bottom: 30px">

  <div class="mat-elevation-z8" >
    <mat-divider></mat-divider>
      <form [formGroup]="formResto" class="mt-3" >
        <div class="row mx-2">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nom complet</mat-label>
              <label>
                <input matInput placeholder="Entrez le nom du plat" formControlName="nomComplet" class="input">
              </label>
              <mat-error *ngIf="submitted && f.nomComplet.errors" class="invalid-feedback">
                <mat-error *ngIf="f.nomComplet.errors.required">Veuillez taper le nom complet</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <label>
                <input matInput placeholder="Entrez le nom du plat" formControlName="username" class="input">
              </label>
              <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <mat-error *ngIf="f.username.errors.required">Veuillez taper le prénom</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <label>
                <input matInput placeholder="Entrez le nom du plat" formControlName="password" class="input">
              </label>
              <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <mat-error *ngIf="f.password.errors.required">Veuillez taper le prénom</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Téléphone</mat-label>
              <label>
                <input matInput placeholder="Entrez le nom du plat" formControlName="telephone" class="input">
              </label>
              <mat-error *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                <mat-error *ngIf="f.telephone.errors.required">Veuillez taper le prénom</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nom du restaurant</mat-label>
              <label>
                <input matInput placeholder="Entrez le nom du plat" formControlName="nomResto" class="input">
              </label>
              <mat-error *ngIf="submitted && f.nomResto.errors" class="invalid-feedback">
                <mat-error *ngIf="f.nomResto.errors.required">Veuillez taper le prénom</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <label>
                <input matInput placeholder="Entrez le nom du plat" formControlName="description" class="input">
              </label>
              <mat-error *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <mat-error *ngIf="f.description.errors.required">Veuillez taper le prénom</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Adresse</mat-label>
              <label>
                <input matInput placeholder="Entrez le nom du plat" formControlName="adresse" class="input">
              </label>
              <mat-error *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                <mat-error *ngIf="f.adresse.errors.required">Veuillez taper le prénom</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Veuillez choisir un image</mat-label>
              <ngx-mat-file-input formControlName="image" (change)="onFileSelected($event)" placeholder="Basic outline placeholder" ></ngx-mat-file-input>
              <mat-icon matSuffix>photo_camera</mat-icon>
              <mat-error *ngIf="submitted && f.image.errors" class="invalid-feedback">
                <mat-error *ngIf="f.image.errors.required">Veuillez choisir un image </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <button mat-flat-button class="btn-ang"  type="submit"  (click)="onSubmitForm()" >Enrégistrer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


