<!-- <div class="col-sm-12 col-md-4 my-2 ">
    <div class="card">
      <img [src]="urlimg+resto.image" class="card-img-top card-img-resto" width="200" height="200" alt="{{resto.nomResto}}">
      <div class="card-body">
        <h1 class="card-text"> {{resto.nomResto}} </h1>
        <h3 class="card-text"> {{resto.description}} </h3>
        <h3 class="card-text"> {{resto.adresse}} </h3>
      </div>
    </div>
 </div> -->

<div class="accueil">
  <div class="container">
    <div class="row align-items-center pt-3">
      <div class="col-md-3 bloc-img">
        <img [src]="urlimg+resto.image" class="card-img-top card-img-resto"  alt="{{resto.nomResto}}">
      </div>
      <div class="col-md-9 bloc-text">
        <h1> {{resto.nomResto}} </h1>
        <h3> {{resto.description}} </h3>
        <div class="d-flex justify-content-sm-start " >
          <h4> <mat-icon>phone </mat-icon>  {{resto.user.telephone}} </h4>
          <h4 class="mx-3"> <mat-icon>gps_fixed </mat-icon>  {{resto.adresse}} </h4>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="mt-2 mb-2" style="background-color: #333;"></mat-divider>
  <div class="container">
    <div class="menu">
      hello world
    </div>
  </div>
</div>
